In [1]:
import pandas as pd

In [2]:
prices_df = pd.read_csv("daily_prices.csv")
fundamentals_df = pd.read_csv("financial_raw_data.csv")

In [3]:
print(prices_df.head())
del prices_df['AAL']
del prices_df['DAL']

         date    AAL   AAPL    AMD     BA    BAC      C    CAT   DAL      F  \
0  2005-01-03  11.04  63.29  21.41  50.97  46.46  48.27  95.07  7.56  14.71
1  2005-01-04  10.01  63.94  20.21  49.98  45.82  47.86  94.02  7.31  14.66
2  2005-01-05   9.05  64.50  19.75  50.81  45.29  48.46  92.22  6.80  14.43
3  2005-01-06   8.75  64.55  19.72  50.48  45.22  48.93  93.58  6.55  14.45
4  2005-01-07   8.85  69.25  19.92  50.31  44.73  48.65  93.38  6.62  14.65

   ...      GOOGL      GS   INTC    JNJ    JPM    MAR   MSFT   NVDA   ORCL  \
0  ...  202.71001  104.95  23.07  62.90  39.15  62.54  26.74  23.58  13.41
1  ...  194.50000  104.27  22.61  62.70  38.41  61.58  26.84  22.47  13.06
2  ...  193.50999  103.80  22.39  62.66  38.49  61.62  26.78  22.68  13.10
3  ...  188.55000  105.23  22.46  62.84  38.71  62.20  26.75  22.46  13.22
4  ...  193.85001  104.78  22.80  62.61  38.40  62.11  26.67  22.03  13.33

       T
0  18.81
1  18.33
2  18.49
3  18.60
4  18.79

[5 rows x 21 columns]

In [4]:
print(fundamentals_df.head())

   gvkey    datadate  fyearq  fqtr  fyr indfmt consol popsrc datafmt  tic  \
0   1045  2005-03-31    2005     1   12   INDL      C      D     STD  AAL
1   1045  2005-06-30    2005     2   12   INDL      C      D     STD  AAL
2   1045  2005-09-30    2005     3   12   INDL      C      D     STD  AAL
3   1045  2005-12-31    2005     4   12   INDL      C      D     STD  AAL
4   1045  2006-03-31    2006     1   12   INDL      C      D     STD  AAL

                          conm curcdq datacqtr datafqtr      atq    dlcq  \
0  AMERICAN AIRLINES GROUP INC    USD   2005Q1   2005Q1  29167.0   879.0
1  AMERICAN AIRLINES GROUP INC    USD   2005Q2   2005Q2  29494.0   910.0
2  AMERICAN AIRLINES GROUP INC    USD   2005Q3   2005Q3  29436.0   960.0
3  AMERICAN AIRLINES GROUP INC    USD   2005Q4   2005Q4  29495.0  1239.0
4  AMERICAN AIRLINES GROUP INC    USD   2006Q1   2006Q1  29918.0  1185.0

     dlttq     lseq  exchg costat
0  13375.0  29167.0     14      A
1  13322.0  29494.0     14      A
2  13231.0  29436.0     14      A
3  13456.0  29495.0     14      A
4  13165.0  29918.0     14      A

In [5]:
prices_long = prices_df.melt(id_vars='date', var_name='tic', value_name='price')

In [6]:
print(prices_long)

             date   tic  price
0      2005-01-03  AAPL  63.29
1      2005-01-04  AAPL  63.94
2      2005-01-05  AAPL  64.50
3      2005-01-06  AAPL  64.55
4      2005-01-07  AAPL  69.25
...           ...   ...    ...
90589  2024-12-24     T  22.95
90590  2024-12-26     T  22.96
90591  2024-12-27     T  22.86
90592  2024-12-30     T  22.61
90593  2024-12-31     T  22.77

[90594 rows x 3 columns]

In [7]:
prices_long['date'] = pd.to_datetime(prices_long['date'])
fundamentals_df['date'] = pd.to_datetime(fundamentals_df['datadate'])

In [8]:
print(prices_long.head())
print(fundamentals_df.head())

        date   tic  price
0 2005-01-03  AAPL  63.29
1 2005-01-04  AAPL  63.94
2 2005-01-05  AAPL  64.50
3 2005-01-06  AAPL  64.55
4 2005-01-07  AAPL  69.25
   gvkey    datadate  fyearq  fqtr  fyr indfmt consol popsrc datafmt  tic  \
0   1045  2005-03-31    2005     1   12   INDL      C      D     STD  AAL
1   1045  2005-06-30    2005     2   12   INDL      C      D     STD  AAL
2   1045  2005-09-30    2005     3   12   INDL      C      D     STD  AAL
3   1045  2005-12-31    2005     4   12   INDL      C      D     STD  AAL
4   1045  2006-03-31    2006     1   12   INDL      C      D     STD  AAL

   ... curcdq datacqtr datafqtr      atq    dlcq    dlttq     lseq  exchg  \
0  ...    USD   2005Q1   2005Q1  29167.0   879.0  13375.0  29167.0     14
1  ...    USD   2005Q2   2005Q2  29494.0   910.0  13322.0  29494.0     14
2  ...    USD   2005Q3   2005Q3  29436.0   960.0  13231.0  29436.0     14
3  ...    USD   2005Q4   2005Q4  29495.0  1239.0  13456.0  29495.0     14
4  ...    USD   2006Q1   2006Q1  29918.0  1185.0  13165.0  29918.0     14

   costat       date
0       A 2005-03-31
1       A 2005-06-30
2       A 2005-09-30
3       A 2005-12-31
4       A 2006-03-31

[5 rows x 21 columns]

In [9]:
prices_sorted = prices_long.sort_values(by=['tic', 'date']).reset_index(drop=True)
fundamentals_sorted = fundamentals_df.sort_values(by=['tic', 'date']).reset_index(drop=True)

In [10]:
print(prices_sorted.loc[prices_sorted['tic'] == 'AAPL'])

           date   tic      price
0    2005-01-03  AAPL   63.29000
1    2005-01-04  AAPL   63.94000
2    2005-01-05  AAPL   64.50000
3    2005-01-06  AAPL   64.55000
4    2005-01-07  AAPL   69.25000
...         ...   ...        ...
5028 2024-12-24  AAPL  258.20001
5029 2024-12-26  AAPL  259.01999
5030 2024-12-27  AAPL  255.59000
5031 2024-12-30  AAPL  252.20000
5032 2024-12-31  AAPL  250.42000

[5033 rows x 3 columns]

In [11]:
print(fundamentals_sorted.loc[fundamentals_sorted['tic'] == 'AAPL'])

     gvkey    datadate  fyearq  fqtr  fyr indfmt consol popsrc datafmt   tic  \
80    1690  2005-03-31    2005     2    9   INDL      C      D     STD  AAPL
81    1690  2005-06-30    2005     3    9   INDL      C      D     STD  AAPL
82    1690  2005-09-30    2005     4    9   INDL      C      D     STD  AAPL
83    1690  2005-12-31    2006     1    9   INDL      C      D     STD  AAPL
84    1690  2006-03-31    2006     2    9   INDL      C      D     STD  AAPL
..     ...         ...     ...   ...  ...    ...    ...    ...     ...   ...
155   1690  2023-12-31    2024     1    9   INDL      C      D     STD  AAPL
156   1690  2024-03-31    2024     2    9   INDL      C      D     STD  AAPL
157   1690  2024-06-30    2024     3    9   INDL      C      D     STD  AAPL
158   1690  2024-09-30    2024     4    9   INDL      C      D     STD  AAPL
159   1690  2024-12-31    2025     1    9   INDL      C      D     STD  AAPL

     ... curcdq datacqtr datafqtr       atq     dlcq    dlttq      lseq  \
80   ...    USD   2005Q1   2005Q2   10111.0      0.0      0.0   10111.0
81   ...    USD   2005Q2   2005Q3   10488.0      0.0      0.0   10488.0
82   ...    USD   2005Q3   2005Q4   11551.0      0.0      0.0   11551.0
83   ...    USD   2005Q4   2006Q1   14181.0      0.0      0.0   14181.0
84   ...    USD   2006Q1   2006Q2   13911.0      0.0      0.0   13911.0
..   ...    ...      ...      ...       ...      ...      ...       ...
155  ...    USD   2023Q4   2024Q1  353514.0  12952.0  95088.0  353514.0
156  ...    USD   2024Q1   2024Q2  337411.0  12759.0  91831.0  337411.0
157  ...    USD   2024Q2   2024Q3  331612.0  15108.0  86196.0  331612.0
158  ...    USD   2024Q3   2024Q4  364980.0  22511.0  96548.0  364980.0
159  ...    USD   2024Q4   2025Q1  344085.0  12843.0  83956.0  344085.0

     exchg  costat       date
80      14       A 2005-03-31
81      14       A 2005-06-30
82      14       A 2005-09-30
83      14       A 2005-12-31
84      14       A 2006-03-31
..     ...     ...        ...
155     14       A 2023-12-31
156     14       A 2024-03-31
157     14       A 2024-06-30
158     14       A 2024-09-30
159     14       A 2024-12-31

[80 rows x 21 columns]

In [12]:
merged_list = []

for ticker in prices_sorted['tic'].unique():
    price_sub = prices_sorted[prices_sorted['tic'] == ticker].copy()
    fin_sub = fundamentals_sorted[fundamentals_sorted['tic'] == ticker].copy()

    if not price_sub.empty and not fin_sub.empty:
        merged = pd.merge_asof(
            price_sub.sort_values('date'),
            fin_sub.sort_values('date'),
            left_on='date',
            right_on='date',
            direction='backward'
        )
        merged_list.append(merged)

merged_df = pd.concat(merged_list, ignore_index=True)

cleaned_df = merged_df[['date', 'tic_x', 'price', 'atq', 'dlcq', 'dlttq']]
cleaned_df = cleaned_df.dropna()
cleaned_df = cleaned_df.rename(columns={'tic_x': 'tic'})

In [13]:
print(cleaned_df.columns)

Index(['date', 'tic', 'price', 'atq', 'dlcq', 'dlttq'], dtype='object')